# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
mysql-connector-python==8.2.0
pandas==2.0.3
tabulate==0.9.0
requests==2.31.0